<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}{$data['years']}</title>
    <link rel="stylesheet" href="css/css.css">
    <script src="js/jquery-1.12.3.min.js"></script>
    {literal}

    <script>

        $(function(){
            // var years = "{$data['years']}";
            // $(".purLife>input[name='purLife'][value=" + years + "]").prop("checked", "checked");
            //版本切换
            $(".edition li").click(function(){
                $(this).addClass("active").siblings().removeClass("active");
            });
            /*
            //第一步提胶支付
            $(".totalPrice button").click(function(){
                $(".step1").hide();
                $(".step2").show();
                $(".purTop li:eq(1)").addClass("active").siblings().removeClass("active");
            });
             */
            //第二步立即支付
            $(".payment").click(function(){
                $(".completed").show();
            });
            //切换支付方式
            $(".choice li").click(function(){
                $(this).addClass("active").siblings().removeClass("active");
            });
            //取消
            $(".cancel").click(function(){
                $(".completed").hide();
            });

            $(".memberNum>input").blur(function(){
                var num = $(".memberNum>input").val();
                var formhash = $(".formhash").val();
                postData(num, '', '', formhash);
            });

            $(".purLife>input:radio").click(function(){
                var years = $(this).val();
                var yearcaptital = $(this).attr("yearcaptital");
                var formhash = $(".formhash").val();
                postData('', years, yearcaptital, formhash);
            });

            function postData(num, years, yearcaptital, formhash) {
                $.post('?script=checkout&task=editData',{num: num, years: years, yearcaptital: yearcaptital, formhash: formhash},
                    function(data) {
                        data = JSON.parse(data);
                        $(".price span.num").html(data.num);
                        $(".price span.years").html(data.years);
                        $(".price span.yearcaptital").html(data.yearcaptital);
                        $(".price span.total").html(data.total);
                        $(".totalPrice span.active").html(data.total);
                        return;
                    }
                );
            }

        });
    </script>
    {/literal}
</head>
<body>
<div class="purTop">
    <ul>
        <li class="active">
            <p>1</p>
            <p>填写购买信息，提交订单</p>
        </li>
        <li>
            <p>2</p>
            <p>确认订单，付款</p>
        </li>
        <li>
            <p>3</p>
            <p>完成支付，开始使用</p>
        </li>
    </ul>
    <div class="line1"></div>
    <div class="line2"></div>
</div>
<div class="content step1">
    <div class="contentTop">
        <img src="img/car.png">
        <p>选择购买版本、成员数量及年限</p>
    </div>
    <p class="businessName">企业（团队）名称：<span>{$data['companyName']}</span></p>
    <div class="edition">
        <p>选择版本：</p>
        <ul>
            <li class="active" id="team">团队版</li>
            <li id="company">企业版</li>
        </ul>
    </div>
    <div class="memberNum">
        <p>成员数量：</p>
        <input type="number" value="{$data['num']}">
        <p>人</p>
    </div>
    <div class="purLife">
        <p>购买年限：</p>
        <input name="purLife" type="radio" id="radio1" value="1" yearcaptital="一" checked>1年
        <input name="purLife" type="radio" id="radio2" value="2" yearcaptital="二">2年
        <input name="purLife" type="radio" id="radio3" value="3" yearcaptital="三">3年
        <input name="purLife" type="radio" id="radio4" value="5" yearcaptital="五">5年
    </div>
    <div class="price">
        <p><span class="perprice">{$data['perprice']}元</span>/人/年 * <span class="num">{$data['num']}</span>人 * <span class="years">{$data['years']}</span>年 = <span class="total">{$data['total']}</span>元</p>
        <p>购买后企业（团队）可容纳<span class="num">{$data['num']}</span>个成员，期限为<span class="yearcaptital">{$data['yearcaptital']}</span>年，到期时间为<span class="expiretime">{$data['expiretime']}</span></p>
    </div>
    <div class="totalPrice">
        <p>总计：<span class="active">{$data['total']}</span>元</p>
        <a href="?script=confirm"><button></button></a>
    </div>
</div>
</body>
</html>