<!DOCTYPE html>
<html class="has-sidebar">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$title}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/datepicker.css"/>
    <link rel="stylesheet" href="/css/all.css"/>
</head>
<body>
<div class="wrapper">
    <div class="min-width-out">
        <div class="min-width-in">
            <div class="min-width">
                <div class="header">
                    <div class="content">
                        <img src="/img/logo.png" alt=""/>
                        <a href="/?task=logout" class="out">退出</a>
                        <dl class="header-infos">
                            <span class="search-main">
								<input type="text" name="name" id="name" value="{$name}" placeholder="请输入需要查找的关键词"/>
							</span>
                            <a href="javascript:void(0);" class="search-btn">查询</a>
                        </dl>
                    </div>
                </div>

                <div class="main">
                    <div class="sidebar-menu">
                        <div class="left-menu">
                            <ul class="left-nav">
                                {include file="left_menu.html"}
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <div class="main-content-bottom">
                            <div class="table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>项目编号</th>
                                        <th>项目名称</th>
                                        <th>客户名称</th>
                                        <th>开始日期</th>
                                        {if ($roleId == '0' || $roleId == '1')}<th>项目经理</th>{/if}
                                        <th>执行人员</th>
                                        <th>项目状态</th>
										{if ($roleId == '0' || $roleId == '2')}
                                        <th>合同号</th>
                                        <th>合同金额</th>
                                        <th>实际收款</th>
                                        <th>第三方费用</th>
                                        {/if}
                                    </tr>
                                    </thead>
                                    <tbody>
									{foreach from=$itemList key=i item=row}
                                    <tr>
                                        <td style="width:120px;"><a href="?task=detail&product_no={$row.project_no}" style="color: #60a6ee" target="_blank">{$row.project_no}</a></td>
                                        <td style="white-space:pre-line; {if ($roleId == '0' || $roleId == '2')}width:200px;{else}width:400px;{/if}">{$row.project_name}</td>
                                        <td style="white-space:pre-line; {if ($roleId == '0' || $roleId == '2')}width:84px;{else}width:120px;{/if}">{$row.customer_name}</td>
                                        <td>{$row.start_date}</td>
                                        {if ($roleId == '0' || $roleId == '1')}<td>{$row.manager_name}</td>{/if}
                                        <td style="white-space:pre-line; min-width:60px; max-width:80px;">{$row.exce_users}</td>
                                        <td class="{$projectStat[$row.status]['colorClass']}">{$row.stat}</td>
                                        {if ($roleId == '0' || $roleId == '2')}
                                        <td style="white-space:pre-line;">{$row.contract_no}</td>
                                        <td>{$row.contract_amount}</td>
                                        <td>{$row.real_amount}</td>
                                        <td>{$row.other_amount}</td>
                                        {/if}
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="{if $roleId == '0'}11{else if $roleId == '1'}7{else if $roleId == '2'}10{/if}">
                                            <table>
                                                <tfoot>
                                                <tr>
                                                    <td width="130">
                                                        <a href="project.php?export=1{if $name!=''}&name={$name}{/if}" class="btn-primary btn" style="border: 1px solid #8c8b8b"> <span> 下载Excel格式</span> </a>

                                                    </td>
                                                    <td>
                                                        {if $pageList != null}
                                                        <p class="page">
                                                            {if $pageList->current > 1}<a href="{$baseurl}{$pageList->previous}">上一页</a>{/if}

                                                            {foreach from=$pageList->pagesInRange key=i item=page}
                                                            {if $pageList->current == $page}
                                                            <a href="javascript:void(0);" class="current">{$page}</a>
                                                            {else}
                                                            <a href="{$baseurl}{$page}">{$page}</a>
                                                            {/if}
                                                            {/foreach}
                                                            {if $pageList->current < $pageList->last}<a href="{$baseurl}{$pageList->next}">下一页</a>{/if}
                                                        </p>
                                                        {/if}

                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>
<!--悬浮层-->
<div id="tcdiv" class="pop">
    <div class="main pd">
        <p class="txt warning">确认新增商户吗？</p>
    </div>
    <div class="btns">
        <a href="javascript:BOX_remove('tcdiv')" class="btn1 confirm">确定</a>
        <a href="javascript:BOX_remove('tcdiv')" class="btn1 confirm">取消</a>
    </div>
    <a href="javascript:BOX_remove('tcdiv');" class="close"></a>
</div>

<script src="/js/vendor/jquery-1.8.2.min.js"></script>
<script src="/js/plugins.min.js"></script>
<script src="/js/matrix.min.js"></script>
<script src="/js/all.js"></script>
<script src="/js/main.js"></script>
<script>
    $(function() {
		$("#name").keyup(function(event){
			e = event ? event : (window.event ? window.event : null);
			if (e.keyCode == 13) {
				$('.search-btn').click();
			}
		});

		$('.search-btn').click(function(){
			var url = 'project.php';
			if ($('#name').val() != '') {
				url += '?name=' + $('#name').val();
			}
			window.location.href = url;
		});
    });
</script>
</body>
</html>