<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目财报</title>
    <link href="../../static/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/vendor/bootstrap/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="../../static/css/matrix.css" rel="stylesheet">
    <link href="../../static/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../../static/vendor/bootstrap/bootstrap.ie8.js"></script>
    <![endif]-->
    <script src="../../static/vendor/jquery-1.12.3.min.js"></script>
    <script src="../../static/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../../static/vendor/bootstrap/bootstrap-datepicker.min.js"></script>
</head>
<body>
<div id="page-wrapper">
    <div>
        <h1 class="page-header">项目财报</h1>
        <ol class="breadcrumb">
            <select name="" id="" style="width: 200px; padding: 5px;">
                <option value="">选择</option>
            </select>
        </ol>
    </div>

    <div class="statistics">
        <div class="list">
            <div class="lab">项目合同总额</div>
            <div class="con">99,999,000.00</div>
        </div>
        <div class="list">
            <div class="lab">项目实收总额</div>
            <div class="con">89,320,333.00</div>
        </div>
        <div class="list">
            <div class="lab">项目外包支出</div>
            <div class="con">200.00</div>
        </div>
        <div class="list">
            <div class="lab">项目其他自出</div>
            <div class="con">200.00</div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default table-responsive">


                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="80">序号</th>
                        <th>项目编号</th>
                        <th>项目名称</th>
                        <th>客户</th>
                        <th>项目经理</th>
                        <th>创建日期</th>
                        <th>完成日期</th>
                        <th>项目工时</th>
                        <th>合同金额</th>
                        <th>实收金额</th>
                        <th>外包支出</th>
                        <th>其他支出</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>1</th>
                        <td>2322234545</td>
                        <td>比亚迪南京场馆展示设计...</td>
                        <td>比亚迪</td>
                        <td>王伟</td>
                        <td>2019-05-12</td>
                        <td>2019-05-14</td>
                        <td>3天</td>
                        <td class="colorRed">23,320.00</td>
                        <td class="colorRed">23,320.00</td>
                        <td class="colorGreen">23,320.00</td>
                        <td class="colorGreen">23,320.00</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>2322234545</td>
                        <td>比亚迪南京场馆展示设计...</td>
                        <td>比亚迪</td>
                        <td>王伟</td>
                        <td>2019-05-12</td>
                        <td>2019-05-14</td>
                        <td>3天</td>
                        <td class="colorRed">23,320.00</td>
                        <td class="colorRed">23,320.00</td>
                        <td class="colorGreen">23,320.00</td>
                        <td class="colorGreen">23,320.00</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>2322234545</td>
                        <td>比亚迪南京场馆展示设计...</td>
                        <td>比亚迪</td>
                        <td>王伟</td>
                        <td>2019-05-12</td>
                        <td>2019-05-14</td>
                        <td>3天</td>
                        <td class="colorRed">23,320.00</td>
                        <td class="colorRed">23,320.00</td>
                        <td class="colorGreen">23,320.00</td>
                        <td class="colorGreen">23,320.00</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>2322234545</td>
                        <td>比亚迪南京场馆展示设计...</td>
                        <td>比亚迪</td>
                        <td>王伟</td>
                        <td>2019-05-12</td>
                        <td>2019-05-14</td>
                        <td>3天</td>
                        <td class="colorRed">23,320.00</td>
                        <td class="colorRed">23,320.00</td>
                        <td class="colorGreen">23,320.00</td>
                        <td class="colorGreen">23,320.00</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>2322234545</td>
                        <td>比亚迪南京场馆展示设计...</td>
                        <td>比亚迪</td>
                        <td>王伟</td>
                        <td>2019-05-12</td>
                        <td>2019-05-14</td>
                        <td>3天</td>
                        <td class="colorRed">23,320.00</td>
                        <td class="colorRed">23,320.00</td>
                        <td class="colorGreen">23,320.00</td>
                        <td class="colorGreen">23,320.00</td>
                    </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <div>
                        <ul class="pagination">
                            <li><a href="javascript:;">&laquo;</a></li>
                            <li><a href="javascript:;">1</a></li>
                            <li><a href="javascript:;">2</a></li>
                            <li><a href="javascript:;">3</a></li>
                            <li><a href="javascript:;">4</a></li>
                            <li><a href="javascript:;" class="on">5</a></li>
                            <li><a href="javascript:;">6</a></li>
                            <li><a href="javascript:;">7</a></li>
                            <li><a href="javascript:;">8</a></li>
                            <li><a href="javascript:;">9</a></li>
                            <li><a href="javascript:;">10</a></li>
                            <li><a href="javascript:;">11</a></li>
                            <li><a href="javascript:;">12</a></li>
                            <li><a href="javascript:;">13</a></li>
                            <li><a href="javascript:;">14</a></li>
                            <li><a href="javascript:;">15</a></li>
                            <li><a href="javascript:;">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>