<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成员进度</title>
    <link href="../../static/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/vendor/bootstrap/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="../../static/css/matrix.css" rel="stylesheet">
    <link href="../../static/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../../static/vendor/bootstrap/bootstrap.ie8.js"></script>
    <![endif]-->
    <script src="../../static/vendor/jquery-1.12.3.min.js"></script>
    <script src="../../static/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../../static/vendor/bootstrap/bootstrap-datepicker.min.js"></script>
</head>
<body>
<div id="page-wrapper">
    <div>
        <h1 class="page-header">成员进度</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default table-responsive">


                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="80">序号</th>
                        <th>成员</th>
                        <th>参与项目数</th>
                        <th>进行中任务</th>
                        <th>已完成项目</th>
                        <th>已延期任务</th>
                        <th>已取消任务</th>
                        <th>任务完成率</th>
                        <th>任务延期率</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>王伟</td>
                            <td>20</td>
                            <td>30</td>
                            <td>50</td>
                            <td>10</td>
                            <td>20</td>
                            <td class="colorGreen">98%</td>
                            <td class="colorRed">60%</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>王伟</td>
                            <td>20</td>
                            <td>30</td>
                            <td>50</td>
                            <td>10</td>
                            <td>20</td>
                            <td class="colorGreen">98%</td>
                            <td class="colorRed">60%</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>王伟</td>
                            <td>20</td>
                            <td>30</td>
                            <td>50</td>
                            <td>10</td>
                            <td>20</td>
                            <td class="colorGreen">98%</td>
                            <td class="colorRed">60%</td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>王伟</td>
                            <td>20</td>
                            <td>30</td>
                            <td>50</td>
                            <td>10</td>
                            <td>20</td>
                            <td class="colorGreen">98%</td>
                            <td class="colorRed">60%</td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <td>王伟</td>
                            <td>20</td>
                            <td>30</td>
                            <td>50</td>
                            <td>10</td>
                            <td>20</td>
                            <td class="colorGreen">98%</td>
                            <td class="colorRed">60%</td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <div>
                        <ul class="pagination">
                            <li><a href="javascript:;">&laquo;</a></li>
                            <li><a href="javascript:;">1</a></li>
                            <li><a href="javascript:;">2</a></li>
                            <li><a href="javascript:;">3</a></li>
                            <li><a href="javascript:;">4</a></li>
                            <li><a href="javascript:;" class="on">5</a></li>
                            <li><a href="javascript:;">6</a></li>
                            <li><a href="javascript:;">7</a></li>
                            <li><a href="javascript:;">8</a></li>
                            <li><a href="javascript:;">9</a></li>
                            <li><a href="javascript:;">10</a></li>
                            <li><a href="javascript:;">11</a></li>
                            <li><a href="javascript:;">12</a></li>
                            <li><a href="javascript:;">13</a></li>
                            <li><a href="javascript:;">14</a></li>
                            <li><a href="javascript:;">15</a></li>
                            <li><a href="javascript:;">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>